<div class="row">
  <div class="col">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="name">Nom de l'appareil</label>
        <input type="text" id="name" placeholder="entrez un nom" class="form-control" name="name" ngModel required />
      </div>
      <div class="form-group">
        <label for="state">Etat</label>
        <select class="form-control" id="state" name="state" [ngModel]="state">
          <option value="éteint">Eteint</option>
          <option value="allumé">Allumé</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter à la liste</button>
    </form>
  </div>
</div>
